{{extend '../layout/layout.html'}} {{block "head"}}
<title>多人博客-首页</title>
<link rel="stylesheet" href="../../public/css/wss/honor.css" ; />
<!-- <link rel="stylesheet" href="../../public/css/xzg/about750.css" media="only screen and (max-width: 750px)" ; /> -->
<!-- <script src="../../public/js/flexible.js"></script> -->

<style>
    @media screen and (max-width: 750px) {
        .B-box {
            width: 100%!important;
        }
    }
    
    @media screen and (max-width: 992px) {
        .B-box {
            width: 100%!important;
        }
    }
    
    @media screen and (max-width: 1200px) {
        .B-box {
            width: 100%!important;
        }
    }
    /* 轮播图自适应 */
    
    @media screen and (max-width: 750px) {
        .swiper-container {
            width: 100%!important;
            height: auto;
        }
    }
    
    @media screen and (max-width: 992px) {
        .swiper-container {
            width: 100%!important;
            height: auto;
        }
    }
    
    @media screen and (max-width: 1500px) {
        .swiper-container {
            width: 100%!important;
            height: auto;
        }
    }
    /* 轮播图图片自适应 */
    
    @media screen and (max-width: 750px) {
        .swiper-wrapper img {
            width: 100%!important;
            height: auto;
        }
    }
    
    @media screen and (max-width: 992px) {
        .swiper-wrapper img {
            width: 100%!important;
            height: auto;
        }
    }
    
    @media screen and (max-width: 1500px) {
        .swiper-wrapper img {
            width: 100%!important;
            height: auto;
        }
    }
</style>
{{/block}} {{block "content"}}
<div id="post-15" class="top-img" style="background-image: url(../../public/img/aboutUs/honor/honor1.jpg)">
    <div class="B-box">
        <div class="top-img-text">
            <h3 class="top-img-text-one severe">资质与荣誉</h3>
            <p class="ft18 top-img-text-two">硕果累累</p>
        </div>
    </div>
</div>

<!-- 专利数，重要荣誉 -->

<div class="bgc-color interval">
    <div class="B-box">
        <ul class="nl-li2 ul-box li-left">
            <li>
                <div class="clearfix">
                    <dl class="left">
                        <dt class="ft42 severe color-blue">60+</dt>
                        <dd class="ft24 severe">专利数</dd>
                    </dl>
                    <div class="right">
                        <img src="../../public/img/aboutUs/honor/honor2.svg" alt="专利数">
                    </div>
                    <div class="details ft18 opacity5">
                        公司拥有医疗CT原创核心技术，中美60多项专利，相关CT控制系统以及成像算法是整个产业链的技术核心，是打破我国现有CT技术升级瓶颈的关键节点。
                    </div>
                </div>
            </li>

            <li>
                <div class="clearfix">
                    <dl class="left">
                        <dt class="ft42 severe ft-yellow">30+</dt>
                        <dd class="ft24 severe">重要荣誉奖项</dd>
                    </dl>
                    <div class="right">
                        <img src="../../public/img/aboutUs/honor/honor3.svg" alt="重要荣誉奖项">
                    </div>
                    <div class="details ft18 opacity5">
                        公司成立以来，屡获殊荣，累计获得大小荣誉100多项，其中包含30多项重要荣誉奖项。
                    </div>
                </div>
            </li>

        </ul>
    </div>
</div>



<!-- Swiper -->
<div class="lb_bj">
    <div class="swiper-container">
        <div class="ptpb">
            <h5 class="ft36 m-ft22 title severe">部分证书一览</h5>
            <p class="ft18 m-ft11 title ft-gray">
                Qualifications and Honors
            </p>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb1.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb2.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb3.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb4.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb5.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb6.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb7.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb8.jpg" alt=""></div>
            <div class="swiper-slide"><img src="../../public/img/aboutUs/honor/honor_lb9.jpg" alt=""></div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>

        <!-- Swiper JS -->
        <script src="../../public/js/swiper.js"></script>

        <!-- Initialize Swiper -->
        <script>
            var swiper = new Swiper('.swiper-container', {
                slidesPerView: 3,
                spaceBetween: 30,
                centeredSlides: true,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
        </script>
    </div>
</div>
{{/block}}{{block "script"}}
<script>
    console.log("生效了")
</script>
{{/block}}